.custom-html{
  width: 130px;
  height: 45px;
}
.custom-html-content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  background-color: aqua;
}